name: C++ Project Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install C++ Compiler
      run: sudo apt-get update && sudo apt-get install -y g++

    - name: Build CPU Scheduler Project
      run: |
        g++ main.cpp fcfs.cpp priority.cpp sjf.cpp roundrobin.cpp visualization.cpp -o scheduler_app -std=c++11

    - name: Run basic test
      run: ./scheduler_app <<< "0"
